@import './general/reset';
@import './general/variables';

// Components
@import './component-styles/others';
@import './component-styles/card-container';
@import './component-styles/buttons';

@import './component-styles/splash';

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-image: url(../assets/Site-background-light.webp);
  min-height: 100vh;
}
