.card-container {
  width: min(100%, 1000px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 20px;
  box-sizing: border-box;
}

.card {
  height: 225px;
  animation-name: zoom-in;
  animation-duration: $speed;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  &:hover {
    cursor: pointer;
  }
}

.card-img {
  width: 100%;
  height: 100%;
}

@keyframes zoom-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media (600px <= width <= 850px) {
  .card {
    height: 175px;
  }
}

@media (width <= 450px) {
  .card {
    height: 150px;
  }
}

@media (height <= 450px) {
  .card-container {
    width: 80vw;
  }

  .card {
    height: 125px;
  }
}
