.score-board {
  width: min(90%, 500px);
  box-sizing: border-box;
  padding: 20px;
  padding-bottom: 0;
  text-align: center;

  .scores {
    display: flex;
    justify-content: space-between;
  }
}

@media (height <= 450px) {
  .score-board {
    width: 400px;
  }
}
