@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$black: #121212;
$light-grey: #dfdfdf;

$background: #e9ba84;
$sky-blue: #bdd9ff;
$navy-blue: #35637a;

@font-face {
  font-family: 'OnePiece';
  src: url(../assets/onepiecefont.ttf);
}
